html {
  font-family: verdana, sans-serif;
  font-size: 24px;
  padding: 0;
  margin: 0;
  color: #dcdcdc;
  scroll-behavior: smooth;
}

h1 {
  font-size: 150%;
  margin-top:1em;
}
h2 {
  font-size: 125%;
  margin-top:1em;
}

h3 {
  font-size: 113%;
  margin-top:1em;
}

/* Body */

body {
  font-family: verdana, sans-serif;
  font-size: 24px;
  margin: 12px;
  padding: 0;
}

img.image-link {
  border-style: none;
}

/* Various */

.small {
  font-size: 180%;
}

.large {
  font-size: 220%;
}

.center {
  text-align: center;
}

.center table {
  margin-left: auto;
  margin-right: auto;
}

/* Index table */

table.index {
  border: 0px;
  padding: 0px;
  margin-top: 9px;
  margin-bottom: 9px;
}

table.with-tile {
  background-color: black;
}

table.index td {
  padding: 0px;
}

table.index td.thumb img {
  vertical-align: middle;
  border-style: none;
}

table.index td.text-thumb {
  border-width: 1px;
  border-style: solid;
  border-color: #ffffff;
  text-align: center;
  font-size: 50%;
}

table.index td.tiled {
  background-image: url("tile.png");
  background-repeat: repeat-x;
  text-align: left;
  font-size: 0px;
}

table.index td.thumb-dim {
  font-size: 50%;
}

table.index td.thumb-caption {
  font-size: 75%;
  background: none;
}

hr.index {
  width: 80%;
  height: 0px;
  border-width: 2px;
}

/* Slides */

table.slide {
  background-color: #000000;
  border-width: 3px;
  border-style: solid;
  border-color: #ffffff;
  border-spacing: 0px;
}

table.slide td.image-slide {
  padding: 0px;
}

table.slide td.image-slide img {
  vertical-align: middle;
  border-style: none;
}

table.slide td.text-slide {
  text-align: center;
  vertical-align: middle;
  font-size: 200%;
  font-style: italic;
}

p.caption {
  text-align: center;
}

/* Headers and footers */

.header {
  font-size: 220%;
  padding-top: 6px;
  padding-bottom: 6px;
}

.footer {
  font-size: 220%;
  padding-top: 6px;
  padding-bottom: 6px;
}

/* EXIF table */

table.exif {
  border: 0px;
  border-spacing: 1px;
  background: #ffffff;
}

table.exif td.exif-name {
  text-align: right;
  background: #333333;
  padding-left: 6px;
  padding-right: 6px;
}

table.exif td.exif-value {
  text-align: left;
  background: #333333;
  padding-left: 6px;
  padding-right: 6px;
}

